<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
  <section>
    <h2>Items</h2>
    <form class="fetchForm">
        <table>
            <tr>
                <td>アイテム名</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>値段</td>
                <td><input type="text" name="price"></td>
            </tr>
        </table>
        <input type="button" value="送信" class="btn">
    </form>
  </section>
  <script>
    const fetchForm = document.querySelector('.fetchForm');
    const btn = document.querySelector('.btn');
    const url = 'http://localhost:8080/items';

    const postFetch = () => {
      let formData = new FormData(fetchForm);
      for (let value of formData.entries()) {
          console.log(value);
      }

      fetch(url,{
          method: 'POST',
          body: formData
        }).then((response) => {
            if(!response.ok) {
                console.log('error!');
            }
            console.log('ok!');
            return response.json();
        }).then((data) => {
            console.log(data);
        }).catch((error) => {
            console.log(error);
        });
    };

    btn.addEventListener('click', postFetch, false);
  </script>
</body>
</html>