<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <h2>Items</h2>
    <form action="/items" method="post">
        <table>
            <tr>
                <td>アイテム名</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>値段</td>
                <td><input type="text" name="price"></td>
            </tr>
        </table>
        <input type="submit" value="送信">
    </form>
</body>
</html>