<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
  <section>
    <h2>Items</h2>
    <form id="my-form">
        <table>
            <tr>
                <td>アイテム名</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>値段</td>
                <td><input type="number" name="price"/></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
  </section>
  <script>
    const form = document.getElementById("my-form");
    form.addEventListener("submit",submitFormData);

    function submitFormData(e){
      e.preventDefault();

      var str1 = document.querySelector('input[name="price"]').value;
      var num1 = Number(str1);

      const data = {
        name: document.querySelector('input[name="name"]').value,
        price: num1,
      };

      fetch("http://localhost:8080/items",{
        method:"POST",
        body: JSON.stringify(data),
        headers: {
          Accept:"application/json",
        },
      })
      .then((response) => console.log(response))
      .catch((error) => console.log(error));
    };
  </script>
</body>
</html>